<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="{{ "/blog" | absolute_url }}">View blog entries</a></p>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        {% for item in site.data.links %}
          <p class="view">
              <a href="{{ item.url  }}">{{ item.title  }}</a>
          </p>
        {% endfor %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by author, based loosely upon minimal by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </body>
</html>

